.centeredImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.speccy {
	width: 400px;
	height: 294px;
}

.zoom50 {
	zoom: 50%;
}

.zoom60 {
	zoom: 60%;
}

.zoom70 {
	zoom: 70%;
}

.zoom80 {
	zoom: 80%;
}

.zoom90 {
	zoom: 90%;
}


blockquote{
	color: #444;
	font-family: auto;
	font-size: 1.2em!Important;
	line-height: 1.3em !Important;
}