
.homeImage {
	width: calc(1280px/8);
	height: calc(720px/8);
	border-radius: 5px;
	vertical-align: top;
}

.homeText {
	display:inline-block;
	width:72%;
}


.homeDescription{
	padding-top: 0.5em;
	font-style: oblique;
	font-size: smaller;
}

.centeredImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.downloadButton {
	text-align: center;
}

.downloadLink {
	text-transform: uppercase;
	background-color: black;
	color: white;
	padding: 2px;	
}

.downloadLink:visited {
	color: white;
}

.downloadLink:hover {
	color: lightgoldenrodyellow;
}


.speccy {
	width: 400px;
	height: 294px;
}

.dbCaption {
	text-align: center;
	color: #8a8989;
	font-size: 70%;
	margin-top: .33rem;
}
.zoom50 {
	zoom: 50%;
}

.zoom60 {
	zoom: 60%;
}

.zoom70 {
	zoom: 70%;
}

.zoom80 {
	zoom: 80%;
}

.zoom90 {
	zoom: 90%;
}


blockquote{
	color: #444;
	font-family: auto;
	font-size: 1.2em!Important;
	line-height: 1.3em !Important;
}

table {
	margin-left: auto;
    margin-right: auto;
	border-collapse: collapse;
}

table td,th {
	border: 1px solid rgb(221, 221, 221);
	padding: 0.5em;
}


.memory-slot	 {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: rgb(8, 184, 37);
	
}

.spec-color {
	display: inline-block;
	width: 100%;
	height: 1em;
	background-color: forestgreen;
	border: 1px solid #AAA
}

.spec-color-0-n{background-color:	#000000}
.spec-color-1-n{background-color:	#0000D7}
.spec-color-2-n{background-color:	#D70000}
.spec-color-3-n{background-color:	#D700D7}
.spec-color-4-n{background-color:	#00D700}
.spec-color-5-n{background-color:	#00D7D7}
.spec-color-6-n{background-color:	#D7D700}
.spec-color-7-n{background-color:	#D7D7D7}
.spec-color-0-b{background-color:	#000000}
.spec-color-2-b{background-color:	#0000FF}
.spec-color-3-b{background-color:	#FF0000}
.spec-color-4-b{background-color:	#FF00FF}
.spec-color-5-b{background-color:	#00FF00}
.spec-color-6-b{background-color:	#00FFFF}
.spec-color-7-b{background-color:	#FFFF00}
.spec-color-8-b{background-color:	#FFFFFF}

.entry-tags {
	padding-bottom: 8px
}


.t-state td {
	padding-top: 0;
	padding-bottom: 0;
	
}

.t-instr {
	color:indigo;	
}


table .t-comment {
	color: green;
}

.t-total {
	font-weight: bold;
}

.omni-dip {
	border-collapse: collapse;
}
.omni-dip td {
	height: 1rem;
	padding: 4px;
}

.omni-dip .h {
	background-color: rgb(188, 181, 250);
}

.omni-dip .d {
	background-color: rgb(158, 220, 248);
}

.omni-dip .r {
	background-color: rgb(158, 248, 181);
}


.omni-dip .i {
	background-color: black;
	border: 1px solid black;
	width: 1.0rem;
	height: 1rem;
}

.omni-dip .o {
	background-color: transparent;
	border: 1px solid gray;
	width: 1.0rem;
	height: 1rem;
}
