---
title   : Page Not Found!
layout  : main
top     : error
---
	<h1>Alas, the page could not be found</h1>

	<blockquote>
		<i>You step in the stream,<br/>
		   But the water has moved on.<br/>
		   This page is not here.
		</i>
	</blockquote>

	<p>Sorry, I seem to have misplaced that page. <a href="#search">Search</a>
the site, have a look at the <a href="#suggestions">suggestions</a>, or browse
the <a href="/archives/">archives</a>.</p>

	<h2><a name="search">Search this site</a></h2>
	
	<div class="sitesearch">
	  <form method="get" action="http://www.google.com/search">
	    <input type="text" id="search" name="q" size="25" maxlength="255" value="{{ params.q }}" />
	    <input type="submit" value="Google Search" />

	    <label><input type="checkbox"  name="sitesearch"
	    value="passingcuriosity.com" checked /> 	
	    search only this site.</label>
	  </form>
	</div>

	<h2><a name="suggestions">Suggestions</a></h2>

    <p>Based on the address you requested -- the one we can't find -- you
    might be looking for one of these pages.</p>

	{% for post in results limit:10 %}
	<article class="section list">
	  <h1>{{ post.date }}</h1>
	  <p class="line">
	    <a class="title" href="{{ post.url }}">{{ post.title }}</a>
	  </p>
	  <p class="excerpt">
		{% if post.excerpt %}
		  {{ post.excerpt }}
	    {% else %}
	      {{ post.content | html_truncate }}
	    {% endif %}
	  </p>
	</article>
	{% endfor %}